<html>
  <body>

    <h1>Add new files</h1>

    <hr>

    <h2>Your file</h2>

    <input type="file" id="file-input">
    <p id="status">Please select a file</p>
    <form method="POST" action="/api/upload">
      <!-- <input type="hidden" id="avatar-url" name="avatar-url" value="/images/default.png"> -->
     <!--  <input type="text" name="username" placeholder="Username"><br>
      <input type="text" name="fullname" placeholder="Full name"> -->
      <input id="fileurl" type="hidden" name="fileurl" value="">
      <input id="name" type="hidden" name="name" value="">
      <input id="courseid" type="hidden" name="courseid" value="">
      <input id="filesize" type="hidden" name="filesize" value="">
      <br><br>

      <hr>
      <h2>Save changes</h2>

      <input type="submit" value="Update file">
    </form>


    <script>
    /*
      Function to carry out the actual PUT request to S3 using the signed request from the app.
    */
    function uploadFile(file, signedRequest, url){
      const xhr = new XMLHttpRequest();
      xhr.open('PUT', signedRequest);
      xhr.onreadystatechange = () => {
        if(xhr.readyState === 4){
          if(xhr.status === 200){
            document.getElementById('preview').src = url;
            document.getElementById('avatar-url').value = url;
            // document.getElementById('file-url').value=url;
          }
          else{
            alert('Could not upload file.');
          }
        }
      };
      xhr.send(file);
    }
    /*
      Function to get the temporary signed request from the app.
      If request successful, continue to upload the file using this signed
      request.
    */
    function getSignedRequest(file){
      const xhr = new XMLHttpRequest();
      xhr.open('GET', `/sign-s3?file-name=${file.name}&file-type=${file.type}`);
      xhr.onreadystatechange = () => {
        if(xhr.readyState === 4){
          if(xhr.status === 200){
            const response = JSON.parse(xhr.responseText);
            console.log(response, '::::::::::::::::::::::: RESPONSE');
            uploadFile(file, response.signedRequest, response.url);
            //lo que hago aca es tomar la url del archivo pero de amazon, asi que esto se queda quieto
            document.getElementById('fileurl').value = response.url;
            //aqui es donde debes mandar  el string de course id que pertenece al file
            document.getElementById('courseid').value = '58bb8170af26e205d10464e4';
            
          }
          else{
            alert('Could not get signed URL.');
          }
        }
      };
      xhr.send();
    }
    /*
     Function called when file input updated. If there is a file selected, then
     start upload procedure by asking for a signed request from the app.
    */
    function initUpload(){
      const files = document.getElementById('file-input').files;
      const file = files[0];
      document.getElementById('name').value= file.name;
      document.getElementById('filesize').value =file.size;
      if(file == null){
        return alert('No file selected.');
      }
      getSignedRequest(file);

    }
    /*
     Bind listeners when the page loads.
    */
    (() => {
        document.getElementById('file-input').onchange = initUpload;
    })();
    </script>
  </body>
</html>